<?php
$this->headTitle('Create Module');
?>
<h3>Create Module</h3>
<div class="w3-row">
    <div class="w3-col l4 m4">
        <?= $this->form($this->moduleForm) ?>
    </div>
</div>

<div class="w3-row">
    <div class="w3-col l4 m4 w3-padding">
        <?php if ($this->success) : ?>
            <strong class="w3-text-green">success</strong>
        <?php elseif (false === $this->success): ?>
            <strong class="w3-text-red">failed</strong>
        <?php endif; ?>
    </div>
</div>
