<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
$this->headTitle('Create Basic');
?>
<script>
    $(document).ready(function(){

        if($('select#codecreate_type').val() === 'table') {
            $('#table_name').removeClass('w3-hide');
            $('#table_name_label').removeClass('w3-hide');
        }

        $('#codecreate_type').change(function (){
            if($(this).val() === 'table') {
                $('#table_name').removeClass('w3-hide');
                $('#table_name_label').removeClass('w3-hide');
            } else {
                $('#table_name').addClass('w3-hide');
                $('#table_name_label').addClass('w3-hide');
            }
        });
    });
</script>
<h3>Create Basic</h3>
<div class="w3-row">
    <div class="w3-col l4 m4">
        <?= $this->form($this->basicForm) ?>
    </div>
</div>

<div class="w3-row">
    <div class="w3-col l4 m4 w3-padding">
        <?php if ($this->success) : ?>
            <strong class="w3-text-green">success</strong>
        <?php elseif (false === $this->success): ?>
            <strong class="w3-text-red">failed</strong>
        <?php endif; ?>
    </div>
</div>
