<?= $this->doctype() ?>

<html lang="de">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'])
        ->appendStylesheet($this->basePath('code-create//w3schools.css'))
        ->appendStylesheet($this->basePath('code-create/prism.css'))
        ->appendStylesheet($this->basePath('code-create/code-create.css?v=0.0.1'))
        ->appendStylesheet($this->basePath('code-create/jquery-ui.min.css'))
    ?>

    <!-- Scripts -->
    <?= $this->headScript()
        ->appendFile($this->basePath('code-create/jquery.min.js'))
        ->appendFile($this->basePath('code-create/jquery-ui.min.js'))
        ->appendFile($this->basePath('code-create/prism.js'))
        ->appendFile($this->basePath('code-create/code-create.js'))
    ?>
</head>
<body>
<nav class="w3-bar w3-black">
    <a href="<?= $this->url('bitkorn_codecreate_create_basic_createmodule') ?>" class="w3-bar-item w3-button w3-mobile">Create Module</a>
    <a href="<?= $this->url('bitkorn_codecreate_create_basic_createtypes') ?>" class="w3-bar-item w3-button w3-mobile">Create Types</a>
    <a href="<?= $this->url('bitkorn_codecreate_create_entity_createentity') ?>" class="w3-bar-item w3-button w3-mobile">Create Entity</a>
</nav>
<div class="w3-container">
    <?= $this->content ?>
    <hr>
    <footer>
        <p>&copy; 1970 - <?= date('Y') ?> by Bitkorn</p>
    </footer>
</div>
<?= $this->inlineScript() ?>
</body>
</html>
